@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800;900&family=Rakkas&display=swap');

.link{
    text-decoration: none;
    color:white;
}
.link:hover{
    color:white
}

.food-card{
transition: 3s;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    background: #cc3a3a;
}