@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800;900&family=Rakkas&display=swap');

.link{
    text-decoration: none;
    color:white;
}
.link:hover{
    color:white
}

.food-card{
transition: 3s;
}