.mb-10.best-seller {
    background: #cc3a3a;
    padding-bottom: 100px;
}

h2.text-center.best-title {
    font-family: 'Rakkas';
    font-size: 70px;
    color:white;
}

.best-seller-food-card {
    display: flex;
    justify-content: space-between;
}

.cart-plus {
    border: 1px solid red;
    border-radius: 50%;
    font-size: 70px;
    padding: 14px;
}

